version: "3"

services:
  app:
    image: babylog
    ports:
      - "443:443"
    depends_on:
      - db

  db:
    image:  postgres:17
    environment:
      POSTGRES_DB: babylog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data